<h1>EDIT STAMP</h1>

<!-- pass local variable @response for this to work -->
<%= form_for @demo, :url => {:action => "update", :id => @form_filler} do |d| %>
	<fieldset>
		<%= d.label :stamp_serial, "Stamp Serial" %>
		<%= d.text_field :stamp_serial, :value => @form_filler %>

		<%= image_tag @demo.stamp_image.url(:medium) %>
		<%= d.file_field :stamp_image , :id => 'assetImage' %><br />

		<%= d.text_field :asset_url, :id => 'assetURL' %><br />
	</fieldset>

	<%= d.submit "Update Demo" %>
<% end %>